@include medium {
  .about_background {
    height: calc(100vh - 12rem);
  }
  .about {
    margin-top: 12rem;
    max-width: 43rem;
  }
}

@include large {
  .about_background {
    background: url("../img/about_background.png") no-repeat bottom left
      $background;
    background-size: 90%;
  }

  .about {
    max-width: 47rem;
    margin-top: 12rem;

    &_images {
      display: flex;
    }

    &_text {
      p {
        text-align: left;
        font-weight: 400;
        line-height: 1.4;
        font-size: 1.1rem;
      }
    }
    &_headline {
      font-size: 3.5rem;
    }
  }

  .about1,
  .about2 {
    margin-right: 10px;
  }
}

@include xlarge {
  .about {
    margin-right: 300px;
  }
}

@include fullscreen {
  .about_text p {
    font-size: 1.5rem;
  }
}
